<section style="padding: 40px;">
  <h1>Admin Dashboard</h1>
  <p>Welcome Admin, <%= user.full_name %></p>

  <ul>
    <li><a href="/admin/journals">Manage Journals</a></li>
    <li><a href="/admin/journals/new">Upload Journal</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</section>