<form action="/agc/payment" method="POST">
  <button class="btn btn-success btn-lg">
   <h2>AGC Payment</h2>

<p class="mb-3">
  Category: <strong><%= category %></strong>
</p>

<p class="mb-4">
  Amount: <strong>₦<%= amount %></strong>
</p>
  </button>
</form>